# https://EditorConfig.org

# 停止搜索文件
root = true

[*]
# 缩进样式为空格
indent_style = space
# 缩进2个空格
indent_size = 2
# 换行符 \n
end_of_line = lf
# utf8编码
charset = utf-8
# 删除换行符前面的任何空白字符
trim_trailing_whitespace = true
# 确保文件在保存时以换行符结束
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
